# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Python environments
venv/
.venv/
env/

# Editors
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Large compressed files
*.zip
*.rar
*.7z


# Raw reservoir datasets
01_decline_curve_analysis/data/raw/*.xlsx
01_decline_curve_analysis/data/raw/*.xls
01_decline_curve_analysis/data/processed/*.csv
01_decline_curve_analysis/report/f14_monthly_operating_summary.csv
