# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Python environments
venv/
.venv/
env/

# Editors
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Large compressed files
*.zip
*.rar
*.7z
